<div class="container">
    <div class="row">
        <div class="col">
            <button class="btn btn-light" (click)="goToBack()">Geri</button>
        </div>
    </div>
    <div class="card m-5 bg-body-secondary text-center">
        <div class="card-header"><b>{{ post.title }}</b></div>
        <div class="card-body">
            <div class="row">
                <div class="col">
                    <b>{{post.user.firstname + " " + post.user.lastname}}</b>: {{ post.content }}
                </div>
            </div>
        </div>
    </div>
    <div class="card m-5 bg-secondary">
        <div class="card-header" style="color:white">Search</div>
        <div class="card-body" style="color:white">
            <div class="row">
                <div class="col">
                    <div class="form-group">
                        <label for="">Content</label>
                        <input type="text" class="form-control" placeholder="Press enter after searching" (keydown.enter)="getCommentList()" [(ngModel)]="filterContent">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card m-5" *ngFor="let comment of comments">
        <div class="card-header text-center">
            <div *ngIf="comment.is_my_comment">
                <div class="row">
                    <div class="col-12">
                        {{ comment.formatted_created_at }}
                    </div>
                </div>
            </div>
            <div *ngIf="!comment.is_my_comment">
                ({{ comment.formatted_created_at }})
            </div>
        </div>
        <div class="card-body text-center">
            <div *ngIf="comment.is_my_comment">
                <div class="row">
                    <div class="col-11">
                        <textarea class="form-control" [(ngModel)]="comment.content"></textarea>
                    </div>
                    <div class="col-1">
                        <button (click)="deleteComment(comment)" class="btn btn-danger m-2">X</button>
                        <button (click)="updateComment(comment)" class="btn btn-success">Update</button>
                    </div>
                </div>
            </div>
            <div *ngIf="!comment.is_my_comment">
                <b>{{ comment.user.firstname }} {{ comment.user.lastname }}</b>: {{ comment.content }}
            </div>
        </div>
    </div>
    <div class="card m-5">
        <div class="card-header text-center">
            New Comment
        </div>
        <div class="card-body text-center">
            <div class="row m-2">
                <div class="col-11">
                    <textarea placeholder="Content" class="form-control" [(ngModel)]="newContent"></textarea>
                </div>
                <div class="col-1">
                    <button (click)="storeComment()" class="btn btn-primary">Store</button>
                </div>
            </div>
        </div>
    </div>
</div>
