<div class="container">
    <div class="card m-5">
        <div class="card-header text-center">
            New Title
        </div>
        <div class="card-body text-center">
            <div class="row m-2">
                <div class="col-11">
                    <input type="text" placeholder="Title" class="form-control" [(ngModel)]="newTitle">
                </div>
            </div>
            <div class="row m-2">
                <div class="col-11">
                    <textarea placeholder="Content" class="form-control" [(ngModel)]="newContent"></textarea>
                </div>
                <div class="col-1">
                    <button (click)="storePost()" class="btn btn-primary">Store</button>
                </div>
            </div>
        </div>
    </div>
    <div class="card m-5 bg-secondary">
        <div class="card-header" style="color:white">Search</div>
        <div class="card-body" style="color:white">
            <div class="row">
                <div class="col">
                    <div class="form-group">
                        <label for="">Title</label>
                        <input type="text" class="form-control" placeholder="Press enter after searching" (keydown.enter)="getPostList()" [(ngModel)]="filterTitle">
                    </div>
                </div>
                <div class="col">
                    <div class="form-group">
                        <label for="">Content</label>
                        <input type="text" class="form-control" placeholder="Press enter after searching" (keydown.enter)="getPostList()" [(ngModel)]="filterContent">
                    </div>
                </div>
                <div class="col">
                    <div class="form-group">
                        <label for="">Tag</label>
                        <input type="text" class="form-control" placeholder="Press enter after searching" (keydown.enter)="getPostList()" [(ngModel)]="filterTag">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card m-5" *ngFor="let post of posts">
        <div class="card-header text-center">
            <div *ngIf="post.is_my_post">
                <div class="row">
                    <div class="col-12">
                        {{ post.published_at }}
                        <input type="text" class="form-control" [(ngModel)]="post.title">
                    </div>
                </div>
            </div>
            <div *ngIf="!post.is_my_post">
                <b>{{ post.title }}</b> <br>({{ post.published_at }})
            </div>
        </div>
        <div class="card-body text-center">
            <div *ngIf="post.is_my_post">
                <div class="row">
                    <div class="col-11">
                        <textarea class="form-control" [(ngModel)]="post.content"></textarea>
                    </div>
                    <div class="col-1">
                        <button (click)="deletePost(post)" class="btn btn-danger m-2">X</button>
                        <button (click)="updatePost(post)" class="btn btn-success">Update</button>
                    </div>
                </div>
            </div>
            <div *ngIf="!post.is_my_post">
                <b>{{ post.user.firstname }} {{ post.user.lastname }}</b>: {{ post.content }}
            </div>
        </div>
        <div class="card-footer text-center">
            <div class="row">
                <div class="col">
                    <button class="btn btn-warning" (click)="goToComment(post.id)">Comments ({{post.comments_count}})</button>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <a class="btn-primary m-2" style="cursor: pointer" (click)="selectTag(tag.name)" *ngFor="let tag of post.tags">{{ tag.name }}</a>
                </div>
            </div>
        </div>
    </div>
</div>
